extends layout

block content
  h1= title
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  
  .container-fluid
    .row
      .col-sm-12.mb-3 To create new Fruit : 
        button.btn.btn-success.btn-sm(create-btn, onclick='createFruit()') Create

      - let results1
      each fruit, index in results
        .col-sm-4.mb-3
          .card.clickable-card(onclick=`buy(${index})`, style=`background-color: ${fruit.color}; color: white;`)
            .card-body
              h4.card-title= fruit.name
              p.card-text Color: #{fruit.color}
              p.card-text Price: $#{fruit.price.toFixed(2)}
              button.btn.btn-danger.btn-sm(delete-btn, onclick=`updateFruit('${fruit._id}')`) Update
              | &nbsp;
              button.btn.btn-danger.btn-sm(delete-btn, onclick=`detailFruit('${fruit._id}')`) Detail
              | &nbsp; 
              button.btn.btn-danger.btn-sm(delete-btn, onclick=`deleteFruit('${fruit._id}')`) Delete

  script.
    function createFruit() {
      window.location.href = '/fruits/create';
    }

    function buy(i) {
      // alert(`You purchased Item ${i+1}`);
    }

    function updateFruit(id) {
      window.location.href='/fruits/update/?id='+id;
    }

    function deleteFruit(id) {
      window.location.href='/fruits/delete/?id='+id;
    }

    function detailFruit(id) {
      window.location.href='/fruits/detail/?id='+id;
    }
